/* Globales Styling */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #333; /* Dunkler Hintergrund */
  color: #f4f4f4; /* Helle Schriftfarbe für bessere Lesbarkeit */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Elemente vertikal anordnen */
  min-height: 100vh; /* Stellt sicher, dass der Inhalt die gesamte Höhe einnimmt */
  margin: 0; /* Entfernt den Standardabstand des Browsers */
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1.5rem; /* Abstand zum Formular */
}

/* Login-Formular */
form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px; /* Maximale Breite des Formulars */
  padding: 2rem;
  background-color: #444; /* Dunkler Hintergrund für das Formular */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Weicher Schatten für das Formular */
}

/* Eingabefelder */
input {
  font-size: 1.2rem;
  padding: 0.8rem;
  margin: 0.5rem 0;
  width: 100%;
  border: 1px solid #ddd; /* Heller Rand für Eingabefelder */
  border-radius: 5px;
  background-color: #333; /* Dunkler Hintergrund für die Eingabefelder */
  color: #fff; /* Weiße Schrift in den Eingabefeldern */
}

/* Buttons */
.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  width: 100%; /* Button über die gesamte Breite */
  margin-top: 1rem;
  transition: background-color 0.3s ease; /* Weicher Übergang bei Hover */
}

/* Primärer Button */
.btn-primary {
  background-color: #6a4c9c; /* Sanftes Violett */
}

.btn-primary:hover {
  background-color: #5c3e8c; /* Etwas dunklerer violetter Farbton bei Hover */
}

/* Sekundärer Button */
.btn-secondary {
  background-color: #5b7db8; /* Sanftes Blau */
}

.btn-secondary:hover {
  background-color: #4c6b9b; /* Dunklerer Blauton bei Hover */
}

/* Gefährlicher Button */
.btn-danger {
  background-color: #e74c3c; /* Sanftes Rot */
}

.btn-danger:hover {
  background-color: #c0392b; /* Dunklerer Rotton bei Hover */
}

/* Liste ohne Standardpunkte */
ul {
  list-style-type: none;
  padding: 0;
}

.list-group-item {
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

/* Alternative Zeilenfarbe für Listen */
.list-group-item:nth-child(even) {
  background-color: #5e4b8b; /* Sanftes Dunkelviolett */
  color: #fff;
}
