/* Globales Styling */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #333; /* Dunkler Hintergrund */
  color: #f4f4f4; /* Helle Schriftfarbe für bessere Lesbarkeit */
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  justify-content: center; /* Zentriert die Buttons horizontal */
  gap: 1rem; /* Fügt einen Abstand zwischen den Buttons hinzu */
  margin: 3rem 0; /* Fügt oben und unten einen Abstand zum Container hinzu */
}


/* Container für Tabellen */
.table-container {
  width: 80%; /* Verhindert, dass die Tabelle die gesamte Breite einnimmt */
  margin: 0 auto; /* Zentriert den Container */
  overflow-x: auto; /* Stellt sicher, dass Tabellen bei Bedarf horizontal gescrollt werden können */
  margin-bottom: 2rem;
}

/* Tabellen Styling */
table {
  width: 100%; /* Maximiert die Tabelle innerhalb des Containers */
  border-collapse: collapse; /* Sorgt dafür, dass die Zellen zusammengefügt werden */
  margin-bottom: 1rem; /* Abstand zum nächsten Element */
}

/* Tabellenüberschrift */
thead th {
  background-color: rgb(149, 78, 216);
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

/* Spezifische Styling für die Hauptüberschrift der Tabelle */
thead tr:first-child th {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #6f42c1; /* Etwas dunklerer Hintergrund für die Hauptüberschrift */
  text-align: center;
  padding: 1rem;
}


th,
td {
  padding: 1rem;
  text-align: center;
  border: 1px solid #ddd; /* Fügt einen Rand um die Zellen hinzu */
}

td {
  background-color: #4a4a4a;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

/* Button Styling */
button {
  padding: 10px 20px;
  margin: 0.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
}
